.box1{
    background-color: #025727;
    height: 120px;
}

.box2{
    background-color: #224253;
    height: 60px;
}

.rede-sociais{
    font-size: 60px;
    color: white;
}

.textos{
    color:white;
}