 .caixa{
    width: 100vh;
    /* height: calc(100vh - 228px); */
    height: 100vh;
    background-color: #7D8671;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #025727 !important;
    color: white !important;
}

.card{
    background-color: #282c34;
    color: white;
    border-radius: 65px;
    width: 65%;
    /* padding-top: 1%;
    padding-bottom: 1.5%; */
    padding: 2%;
    /* padding-right: 20px;
    padding-left: 20px; */
}

.postagens{
    background-color: white;
}